#userName {
	margin: 0 auto;
	width: 200px;
}

.messages, #chatWindow, .leftSidePanel, .rightSidePanel {
	border: 1px solid black;
	min-height: 100px;
}

button {
	outline: none !important;
}

.currentPlayer {
	border: 2px solid green;
}

#chatWindow {
	overflow: scroll;
	width: 600px;
	height: 200px;
}

/* To-Do - Add individual classes to name@time and comment to distinguish each */

.hidden {
	display: none;
}

.chosen {
	height: 60px;
	width: 80px;
	display: inline-block;
}

.chatUserInfo {
	font-size: 15px;
	background-color: rgba(40,255,222,0.4);
}